{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workday</title>
    <link rel="stylesheet" type="text/css" href="{% static 'usersDetail/css/users.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'usersDetail/css/figure2.css' %}"/>
</head>
<body id="main">
    <h1 id="pageTitle">Leslie's Workday</h1>
    <div id='dashboard'></div>
</body>
<!--<script src="http://d3js.org/d3.v3.min.js"></script>-->
<script src="{% static 'usersDetail/js/d3.min.js' %}"></script>
<script src="{% static 'usersDetail/js/figure2.js' %}"></script>








