{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="{% static 'usersDetail/css/users.css' %}"/>
</head>
<body>
    <h1>Testing</h1>
    <p>There are {{userNumber}} users.</p>

    {% if userlist %}
        <ul>
        {% for user in userlist %}
            <li>{{ user.name }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</body>
</html>